<main>
  <h1>Spotter</h1>
  <div id="container">
    <a routerLink="../story">
      <span><img src="../assets/images/filtering.png" alt="filtering"><br>Filtering</span>
    </a>
    <a routerLink="../story">
      <span><img src="../assets/images/overgenerazation.png" alt="overgenerazation"><br>Overgenerazation</span>
    </a>
    <a routerLink="../story">
      <span><img src="../assets/images/catastrophizing.png" alt="catastrophizing"><br>Catastrophizing</span>
    </a>
    <a routerLink="../story">
      <span><img src="../assets/images/control_fallacies.png" alt="control_fallacies"><br>Control Fallacies</span>
    </a>
    <a routerLink="../story">
      <span><img src="../assets/images/blaming.png" alt="blaming"><br>Blaming</span>
    </a>
    <a routerLink="../story">
      <span><img src="../assets/images/emotional_reasoning.png" alt="emotional_reasoning"><br>Emotional Reasoning</span>
    </a>
    <a routerLink="../story">
      <span><img src="../assets/images/mislabeling.png" alt="mislabeling"><br>Mislabeling</span>
    </a>
    <a routerLink="../story">
      <span><img src="../assets/images/heavens_reward_fallacy.png" alt="heavens_reward_fallacy"><br>Heavens Reward Fallacy</span>
    </a>
    <a routerLink="../story">
      <span><img src="../assets/images/polarized_thinking.png" alt="polarized_thinking"><br>Polarized Thinking</span>
    </a>
    <a routerLink="../story">
      <span><img src="../assets/images/jumping_to_conclusions.png" alt="jumping_to_conclusions"><br>Jumping To Conclusions</span>
    </a>
    <a routerLink="../story">
      <span><img src="../assets/images/personalization.png" alt="personalization"><br>Personalization</span>
    </a>
    <a routerLink="../story">
      <span><img src="../assets/images/shoulds.png" alt="shoulds"><br>Shoulds</span>
    </a>
    <a routerLink="../story">
      <span><img src="../assets/images/fallacy_of_change.png" alt="fallacy_of_change"><br>Fallacy Of Change</span>
    </a>
    <a routerLink="../story">
      <span><img src="../assets/images/always_be_right.png" alt="always_be_right"><br>Always Be Right</span>
    </a>
  </div>
</main>