/* === MAIN CONTENT === */
h1 {
  display: block;
  margin: auto;
  margin-bottom: 5%;
  text-align: center;
}

#container span {
  display: inline-block;
  height: 175px;
  text-align: center;
  width: 175px;
}

/* === MEDIA QUERIES === */
@media (max-width: 568px) {
  #container {
    margin: auto;
    text-align: center;
  }
}