/* === HEADERS & NAV === */
nav {
  background: white;
  height: auto;
  float: right;
  font-size: 1.25em;
  font-weight: 300;
}

nav.fixed-header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%  !important;
}

nav ul {
  display: inline-block;
  float: right;
  list-style-type: none;
  position: relative;
}

nav i.fa-bars {
  display: none;
}

nav li {
  float: left;
  padding-right: 20px;
}

nav a {
  border-bottom: 12px solid #436654;
  color: #436654;
  text-decoration: none;
}

nav ul a:hover,
nav ul a:active {
  color: #76b294;
  border-bottom: 12px solid #76b294;
}

/* === MEDIA QUERIES === */
@media (max-width: 812px) {
  nav ul {
    display: none;
    float: 0;
    padding: none;
    position: relative;
    width: 100%;
  }

  nav li {
    background: #d5e7de;
    padding: none;
    padding-top: 8px;
    height: 25px;
    text-align: center;
    width: 100%;
  }

  nav a {
    border: none;
  }

  nav i.fa-bars {
    display: inline-block;
    float: right;
    padding: 4%;
  }
}