/* === MAIN CONTENT === */
#container {
  margin: auto;
  text-align: center;
}

.story-video iframe {
  display: block;
  margin: auto;
  text-align: center;
}

.story-text {
  background-color: #d5e7de;
  text-align: left;
  margin: auto;
  margin-top: 3%;
  padding: 1%;
  width: 75%;
}

/* === MEDIA QUERIES === */
@media (max-width: 640px) {
  #container {
    width: 100%;
  }
  .story-video iframe {
    height: 240px;
    width: 330px;
  }
  .story-text {
    width: 95%;
  }
}