<main>
  <h1>Story</h1>
  <div id="container">
    <div class="story-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/g7B3n9jobus?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <article class="story-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla faucibus mauris, vel aliquet nunc tincidunt vitae. Vivamus ut ultrices libero, at consequat arcu. Maecenas posuere tortor at ligula convallis accumsan. Vestibulum commodo metus ut velit placerat, nec aliquet mi porta. Etiam ultricies nisi velit.
    </article>


  </div>
</main>