<main>
  <h1>Story</h1>
  <div id="container">
    <div class="story-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/g7B3n9jobus?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <article class="story-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla faucibus mauris, vel aliquet nunc tincidunt vitae. Vivamus ut ultrices libero, at consequat arcu. Maecenas posuere tortor at ligula convallis accumsan. Vestibulum commodo metus ut velit placerat, nec aliquet mi porta. Etiam ultricies nisi velit, non mattis odio vulputate vel. Proin vestibulum vehicula dolor, id convallis turpis vehicula et. Vivamus turpis ex, vulputate sodales lobortis vitae, scelerisque ut dolor. Praesent viverra dapibus massa, in lobortis elit. Quisque ac massa vel tortor ullamcorper sodales ut non velit. Aenean ex mi, faucibus id ultricies vel, pretium in sapien. Nulla at blandit tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ex erat, faucibus sed ante et, eleifend dictum neque. Maecenas mollis ligula enim, et placerat enim luctus in. Aliquam rutrum nulla diam, nec sollicitudin nulla sollicitudin id.
    </article>


  </div>
</main>